
body, html {
  padding: 0;
  margin: 0;
}

#special-p[test="testing"] {
  color: blue;
}

.p-demo {
  border: solid 2px red;
  font-size: 64px;
  height: 1000vh;
}

.planet-a {
  width: 500px;
  height: 100px;
  object-fit: cover;
  border: solid red 2px;
}

.italic-and-bold {
  font-style: italic;
  font-weight: bold;
  font-stretch: wider;
}